@import url('https://fonts.googleapis.com/css?family=Neucha');
body {
	font-family: 'Neucha', cursive;
}
header {
	text-align: center;
}
.roomsContainer {
	margin: 10px auto;
	position:relative;
	overflow:hidden;
	width:700px;
	height:300px;
	border:1px solid;
}
.roomsContent {
	background:transparent;
	display:inline-block;
	position:relative;
}
.buttons {
	position:absolute;
	bottom:0;
	right :0;
	z-index:999;
}
.buttons span {
	display: inline-block;
	font-size: 200%;
	font-weight: 100;
	border:none;
	background: transparent;
	width:64px;
	height:64px;
	line-height: 64px;
	text-align: center;
	cursor: pointer;
	user-select: none;
	color:#000;
	background: rgba(255, 255, 255, 0.3);
}
.buttons span:hover {
	border:none;
	background: #000;
	color: #fff;
}
.buttons span:focus {
	border:none;
	background: #ccc;
}